
TremanTBS/Library/ArtifactDB
TremanTBS/Library/EditorInstance.json
TremanTBS/Library/SourceAssetDB
TremanTBS/Library/CurrentLayout-default.dwlt
TremanTBS/Library/EditorInstance.json
TremanTBS/Library/SourceAssetDB
TremanTBS/Logs/shadercompiler-UnityShaderCompiler.exe0.log
TremanTBS/Temp/workerlic
